<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="page-footer bg-dark sticky-bottom" th:fragment="footer">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<ul class="list-group list-group-horizontal justify-content-center">
					<li class="nav-link"><a
						href="https://linkedin.com/in/gabriel-de-paula-santana-b91060211"
						target="_blank"> <img src="/imagens/linkedin.png" alt=""></a>
					</li>
					<li class="nav-link"><a
						href="https://github.com/GabrielSantana7791" target="_blank">
							<img src="/imagens/git.png" alt="">
					</a></li>
					<li class="nav-link"><a
						href="https://www.facebook.com/gabriel.depaulasantana/"
						target="_blank"> <img src="/imagens/facebook.png" alt=""></a>
					</li>
				</ul>
			</div>

		</div>

	</footer>
</body>
</html>
