<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav id="naviBar"
		class="navbar sticky-top navbar-expand-md bg-dark navbar-dark"
		th:fragment="naviBar">
		<div class="container">
			<a href="/" class="navbar-brand">Index</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="#">Project</a></li>
					<li><a class="nav-link" href="#">About me</a></li>
				</ul>
				<div th:if="${session.userNavbar == null}"
					class="navbar-nav ms-auto">
					<ul class="navbar-nav ms-auto"
						th:replace="~{userNavbar/default :: userNavbar}">
					</ul>
				</div>
				<div th:unless="${session.userNavbar == null}"
					class="navbar-nav ms-auto">
					<ul class="navbar-nav ms-auto"
						th:replace="~{${session.userNavbar} :: userNavbar}">
					</ul>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>