<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style.css">

<title th:text="${title}"></title>
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark"
		th:replace="~{fragments/navibar :: naviBar}"></nav>

	<div class="container alert alert-success" role="alert"
		th:if="${message}" th:text="${message}"></div>
	<div class="container alert alert-danger" role="alert"
		th:if="${errorMessage}" th:text="${errorMessage}"></div>
		
	<div class="container" th:replace="~{'pages/' + ${page} :: section }"></div>

	<footer id="footer" th:replace="~{fragments/footer :: footer}"></footer>

	<script src="/bootstrap.js"></script>
</body>
</html>