<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">

<title>Unilever</title>
</head>
<body>
	<div class="container" id="">
	<a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
				<input type="text" coco='acabactes' id="99" th:attr="onchange=|vk('${material.name}' + this.value )|">
				<p id="99unPerBox" th:attr="onclick=|vk('${material.name}')|" >t </p>
				<p id="99unTotal" onClick="vk(99)">t </p>
				<p id="99unTeste"  onClick="vk(99)">t </p>
		<div class="row justify-content-center">
			<div class="col-md-6 justify-content-center ">
			


			</div>
		</div>
	</div>

<script th:inline="javascript">
//<![CDATA[
				var bills = '[[${material}]]';  
    console.log(bills);


//]]>
</script>

<script> 

function vk (nr){
	document.getElementById('99unPerBox').innerHTML = nr;
	document.getElementById(nr + 'unTotal').innerHTML = 'asdas2';
	document.getElementById(nr + 'unTeste').innerHTML = 'asdas3';
}

</script>

	<script src="css/bootstrap.js"></script>
</body>
</html>