<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">

<title>Unilever</title>
</head>
<body>
	<div class="container" id="">
		<div class="row justify-content-center">
			<div class="col-md-6 justify-content-center ">
				<a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
				<div class="bg-light">
					<div class="h3">Seleção manual.</div>
					<br>
					<form action="/calculate" method="get">
						<div class="form-group col-md-4">
							<label for="inputState">Código da produção</label> <input type="text"
								name="ucxCode" class="form-control" required="required"/>
						</div>


						<label for="formGroupExampleInput">Expectativa de produção
							do turno</label> <input type="number" name="typeNumber"
							class="form-control" step="any" required="required"/>
						<button class="btn btn-primary" type="submit">Consultar</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="css/bootstrap.js"></script>
</body>
</html>