<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">

<title>Unilever</title>
</head>
<body>
	<div class="container" id="">
		<div class="row justify-content-center">
			<div class="col-md-6 justify-content-center ">
				<a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
				<div class="bg-light">
					<div class="h3">cadastro de material</div>
					<br>
					<form action="/material-register" method="post">
						<div class="form-group col-md-4">
							<label for="inputState">Código de produção (ucx)</label> <select
								class="form-select" aria-label="Default select example" name="ucxCod">
								<div th:each="ucx: ${ucxList}">
									<option th:text='${ucx.ucxId + " (" + ucx.name  + ")" }' th:value='${ucx.ucxId}'></option>
								</div>


							</select>
						</div>

						<label for="formGroupExampleInput">Nome do material</label> <input
							type="text" name="name" class="form-control" required="required"/> 
							
							<label for="formGroupExampleInput">Novo código do material</label> <input
							type="number" min="0" step="1" name="cod" class="form-control" required="required"/>
							
							<label for="formGroupExampleInput">Nome da unidade</label> <select
							class="form-select" aria-label="Default select example" required="required" name="unName">
							<option value="kg">kg</option>
							<option value="un">un</option>
						</select>

						<label for="formGroupExampleInput">Unidade por caixa/bobina/etc</label> <input
							type="number" min="0" step="1" name="unPerBox" class="form-control" required="required"/>
						<label for="formGroupExampleInput">Unidade total do pallet</label> <input
							type="number" min="0" step="1" name="unTotal" class="form-control" required="required"/>

						<button class="btn btn-primary" type="submit">Cadastrar</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="css/bootstrap.js"></script>
</body>
</html>