<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">

<title>Unilever</title>
</head>
<body>
	<div class="container" id="">
		<div class="row justify-content-center">
			<div class="col-md-6 justify-content-center">
				<a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
				<div class="h3">Seleção manual.</div>
				<br>
				<div> <mark th:text='${"Previsão para produção de  " + param.utp + " caixas."}'></mark> </div>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">SKU</th>
							<th scope="col">Material</th>
							<th scope="col">Cod material</th>
							<th scope="col">Quantidade mat a pedir</th>
							<th scope="col">Quantidade por pallet</th>
							<th scope="col">Pallet a pedir</th>
							<th scope="col">Caixas a pedir</th>
							<th scope="col">Caixas a sobrar (Unidades quando não envolvido por caixas)</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="material: ${resultList}">
						<tr>
							<td th:text='${material.ucxCod}'></td>
							<td th:text='${material.name}'></td>
							<td th:text='${material.cod}'></td>
							<td th:text='${material.needUn + " (" + material.unName + ")"}'></td>
							<td th:text='${material.material.unTotal}'></td>
							<td th:text='${material.needMaterialUn}'></td>
							<td th:text='${material.needBox}'></td>
							<td th:text='${material.unBoxRest}'></td>
						</tr>


						</div>


					</tbody>
				</table>
			</div>
		</div>


	</div>


	<script src="css/bootstrap.js"></script>
</body>
</html>