<meta charset="UTF-8">
<div class="container" th:fragment="section">
	<div class="border border-secondary my-3 bor"
		th:each="PostIndex: ${section}">
		<a class="h3" href="#" th:href='@{/postCode/} + ${PostIndex.id}'
			th:text="${PostIndex.title}"></a>
		<p th:utext='${PostIndex.text}'></p>
		<p class="h3" th:text="${PostIndex.date}">
		<div th:replace="~{/fragments/postFooter :: ${session.userLevel}}"></div>

		<form th:if="${session.user != null}"
			th:action="@{/newComment/} + ${PostIndex.id}"
			method="post">
			<input required type="text" name="text">
			<button type="submit" th:value="${session.user}">Send comment</button>
		</form>

		<form action="/login" method="get" th:unless="${session.user != null}">
			<button type="submit">You need to login to send a comment</button>
		</form>

		<div class="border border-secondary bg-light mx-1 my-3 col-7"
			th:if="${comments} != null" th:each="Comment: ${comments}">
		<label th:text="${Comment.getUser.getUserName()} + @{:}"></label>
		<p th:text="${Comment.getText()}"></p>
		</div>

	</div>
</div>